.titulo{
    font-family:fantasy;
    color:orange;
    font-size: 32px;
    text-align: center;    
}

.fondo{
    background-image: url("hamburgueseria.jpg");
    margin: 5em;
}

.alineado{
    text-align: center;
    margin-bottom: 25px;
    background-color: white;
}
.checkbox{
    background-color: lightcoral;
}